<head th:fragment="head(title)" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/groenetenen.ico}" type="image/x-icon">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/groenetenen.css}">
</head>
<nav th:fragment="menu" xmlns:th="http://www.thymeleaf.org">
    <ul>
        <li><a th:href="@{/}">&#8962</a></li>
        <li><a href="#">Filialen</a>
        <ul>
            <li><a th:href="@{/filialen/vantotpostcodeform}">Van tot postcode</a></li>
            <li><a th:href="@{/filialen/perid}">Per id</a></li>
        </ul>
        </li>
        <li> <a href="#">Werknemers</a>
        <ul>
            <li> <a th:href="@{/werknemers}">Lijst</a></li>
        </ul>
        </li>
        <li> <a href="#">Offertes</a>
            <ul>
                <li> <a th:href="@{/offertes/toevoegen}">Toevoegen</a></li>
            </ul>
        </li>
        <li> <a th:href="@{/?locale=nl_BE}">Nederlands</a></li>
        <li> <a th:href="@{/?locale=fr_BE}">Francais</a></li>
    </ul>
</nav>