<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Offerte toevoegen: stap 1')"></head>
<body>
<nav th:replace="fragments::menu"></nav>
<h1>Offerte toevoegen: stap 1</h1>
<form th:action="@{/offertes/toevoegen}" th:object="${offerte}" method="post">
    <label>Voornaam:<span th:errors="*{voornaam}"></span>
        <input th:field="*{voornaam}" required autofocus>
    </label>
    <label>Familienaam:<span th:errors="*{familienaam}"></span>
        <input th:field="*{familienaam}" required>
    </label>
    <label>Email:<span th:errors="*{emailadres}"></span>
        <input th:field="*{emailadres}" required type="email">
    </label>
    <button name="stap2">Stap 2</button>
</form>

</body>
</html>